. {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.hero {
    width: 90.5%;
    height: 99vh;
    overflow: hidden;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero video{
    height: 1000px;
}

.hero video {
    overflow: hidden;
}

nav {
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    margin-left: -90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 350px;
    margin-right: 0px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17;
}

nav ul li a:hover {
    text-decoration-line: underline;

}

.content {
    text-align: center;
}

.content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}

@media(max-width: 700px) {
    .content h1 {
        font-size: 40px;
        color: #fff;
        font-weight: 400;

    }

    nav ul li {
        list-style: none;
        display: flex;
        margin-left: 10px;
    }

    .beachimg {
        display: flex;
        justify-content: space-between;
    }

    .column img {

        width: 300px;
        height: 250px;
        margin: 5px 35px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;

    }



}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 0px;

}

.content a:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto
    }
}

@media(max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

    {
    /*------course-------*/
}

.beach {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 60px;
}


.beachimg {
    display: flex;
    justify-content: space-between;

}

.column img {

    cursor: pointer;
    width: 400px;
    height: 300px;
    margin: 20px 70px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    display: block;
    transition: transform 1s;

}

.column img:hover {

    transform: scale(1.1);


}

h2 {
    margin-left: 150px;
    text-align: left;
}

.column a {
    margin-left: 150px;
    text-align: left;
    color: blue;
}

.column a:hover {
    color: red;
}

.beachimg2 {
    display: flex;
    justify-content: space-between;
}

.column2 img {
    cursor: pointer;
    width: 400px;
    height: 300px;
    margin: 70px 70px 10px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    display: block;
    transition: transform 1s;
}

.column2 img:hover {

    transform: scale(1.1);
}

.column2 a {
    margin-left: 150px;
    text-align: left;
    color: blue;
}

.column2 a:hover {
    color: red;
}

.popular {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.review {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.review-col {

    width: 500px;
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    cursor: pointer;
    padding: 25px;
    display: fle
}

.review-col img {

    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.review-col h4 {
    margin-top: 15px;
    text-align: left;
}

.review-col .fa-solid {

    color: goldenrod;
}


.footer {

    color: white;
    background-color:#004466;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    margin-top: 50px;
}

.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

.icons .fa-brands {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-brands:hover {
    box-shadow: 10px;
    color: white;

}

.fa-regular {
    color: #f44336;
}

.des h5 {
    margin-left: 515px;
    margin-right: 480px;
    font-size: 39px;
    font-weight: 600;
    padding-bottom: 0px;
}

.des p
{
    color: grey;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
}

@media(max-width: 700px) {
    .des h5 {
       
        margin:32px;

    }
    .des p{
        margin: 30px;
    }
    
}

@media(max-width: 700px) {
    .review {
        width: auto;
        height: 100%;
    }
}
